# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/.next/
/out/
/build

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local environment variables
.env
.env*.local
.env*.development
.env*.production

# Firebase
.firebase
firebase-debug.log*
firestore-debug.log*
dataconnect-debug.log*
database-debug.log*
storage-debug.log*

# Firebase Studio / IDX temporary files
.modified

# Accidental nested project
/y/
