rules_version = '2';

// Regras para o Firebase Storage
service firebase.storage {
  match /b/{bucket}/o {

    // Regra geral:
    // 1. Permite que qualquer pessoa leia os arquivos (necessário para exibir imagens públicas).
    // 2. Permite que QUALQUER USUÁRIO AUTENTICADO escreva (faça upload, atualize ou delete) arquivos.
    // A segurança de quem pode deletar o quê é controlada pela lógica do aplicativo e regras do Firestore,
    // esta regra foca apenas em permitir o upload inicial.
    match /{allPaths=**} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
