rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  
    // Regra para a coleção 'posts'
    match /posts/{postId} {
      // Leitura permitida para todos
      allow read: if true;
      // Escrita (criar, atualizar, deletar) permitida apenas para o dono do post
      allow write: if request.auth != null && request.auth.uid == resource.data.userId;

      // Regras para subcoleções de 'posts', se houver
      match /{allChildren=**} {
        allow read, write: if request.auth != null;
      }
    }

    // Permite que qualquer usuário autenticado leia e escreva na coleção 'chatMessages'
    match /chatMessages/{messageId}/{allChildren=**} {
        allow read, write: if request.auth != null;
    }

    // Regras para a coleção de usuários
    match /Usuarios/{userId} {
      // Qualquer um pode ler o perfil de um usuário (necessário para mostrar avatares, nomes, etc.)
      allow read: if true;
      // Um usuário só pode criar ou modificar seu próprio perfil
      allow write: if request.auth != null && request.auth.uid == userId;

      // Permite que usuários autenticados leiam e escrevam em suas próprias notificações
      match /notifications/{notificationId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    // Regras para a coleção de alertas
    match /alerts/{alertId} {
        // Leitura permitida para todos
        allow read: if true;
        // Escrita permitida para usuários autenticados
        allow write: if request.auth != null;
    }

    // Regras para o guia comercial
    match /businesses/{businessId} {
        // Qualquer pessoa pode ver os negócios listados
        allow read: if true;
        // Usuários logados podem criar e atualizar negócios
        allow create, update: if request.auth != null;
    }
    
    match /sau_reviews/{reviewId} {
      allow read, write: if request.auth != null;
    }
    
    match /tourist_points_indicated/{pointId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }

    match /tourist_point_reviews/{reviewId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null;
    }

    match /reels/{reelId}/{allChildren=**} {
      allow read, write: if true;
    }
  }
}
